body {
    background-color: #00274C;
    color: white;
    padding: 1em;
    padding-bottom: 75px;

    animation: transition 1s ease-out;
}
.nav {
    position: fixed;
    text-decoration: none;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EFF0F1;
    box-shadow: 0px 0px 4px black; 
} 


.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav li {
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    
}

a {
    text-decoration: none;
    color: #525252;
    text-transform: uppercase;
}

.nav a:hover {
    text-decoration: underline;

}

.active {
    color: #222222;
    font-weight: bold;
}

 button {
    border: 2px solid ;
    border-radius: 25px;
    padding: 10px;
    background-color: transparent;
    border-color: #FFCB05;
    color: #FFCB05;
    font-size: 15px;
    font-weight: bold;
    appearance: none;
}

button:hover {
    background: #FFCB05;
    color: #00274C;
}

h1{
    animation: leftSlide 3s ease-out;
}

@keyframes leftSlide {
    from   { 
    transform: translateX(-100%); 		
    }
    to { 
    transform: translateX(0%); 
    }
   }

   @keyframes transition {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
   }

   @media (prefers-reduced-motion) {
    h1 {
        animation: none;
    }
    body{
        animation: none; 
    }
  }

  @media only screen and (min-width: 600px) {
   /*       Tablet View       */

  }

  @media only screen and (min-width: 1200px) {
    /*       Desktop View       */

  }